.dashboard__title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

@media(max-width: 710px) {
  .dashboard__title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .dashboard__title p {
    text-align: center;
  }
}