.contact__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.contact__image {
  width: 30%;
  height: 30%;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  border-radius: 1rem;
  mix-blend-mode: luminosity;
}

.contact__form {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-blue-30);
}

.contact__form__visible {
  margin-top: -2rem;
  width: 100%;
}

.contact__form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__form__label {
  display: flex;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.contact__form__label__hide {
  visibility: hidden;
}

.contact__form__input {
  margin-bottom: 2rem;
}

.contact__form__input,
.contact__form__textarea {
  display: flex;
  font-size: 1.2rem;
  color: var(--color-turquoise);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-white-7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px;
  border-style: inset;
  border-color: var(--color-medium-dark) var(--color-white-7) var(--color-white-7) var(--color-dark);
  resize: none;
}

.contact__form__input div,
.contact__form__textarea div {
  width: 100%;
}


.contact__form__input:placeholder,
.contact__form__textarea:placeholder {
  font-size: 1.2rem;
  color: var(--color-gold);
  border-radius: 0.5rem;
}

.contact__form__error {
  color: var(--color-error);
  padding-left: 1rem;
}

@media(max-width: 1070px) {
  .contact__content {
    justify-content: space-between;
  }

  .contact__image {
    width: 40%;
    height: 40%;
  }
}

@media(max-width: 930px) {
  .contact__content {
    flex-direction: column;
  }
}

@media(max-width: 530px) {
  .contact__form {
    margin-top: -5rem;
  }
}