.postcard__container {
  display: flex;
  margin: 0 auto 1rem;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-blue-30);
  background-color: var(--color-dark);
}

.postcard__image__container {
  position: relative;
  width: auto;
  height: 200px;
  flex: 1 1;
}

.postcard__image__container img {
  -o-object-fit: contain;
  object-fit: contain;
}

.postcard__content {
  flex: 2 1;
}

.postcard__content p:nth-of-type(2),
.postcard__content p:nth-of-type(3),
.postcard__content p:nth-of-type(4) {
  color: var(--color-turquoise);
}

.postcard__content span {
  font-weight: 400;
  font-style: italic;
  color: var(--color-white);
}

@media(max-width: 930px) {
  .postcard__container {
    flex-direction: column;
  }

  .postcard__image__container {
    flex: auto;
  }

  .postcard__content {
    flex: auto;
  }
}