.post__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.post__image__container {
  position: relative;
  width: 250px;
  height: 400px;
}

.post__image__container img {
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}

.post__date {
  font-size: 1.2rem;
  text-align: center;
}

.post__bottom h3,
.post__bottom p,
.post__bottom a {
  width: 250px;
}

.post__bottom p {
  max-width: 120ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post__bottom a {
  color: var(--color-gold);
}