.tagMenu__container button {
  position: relative;
}

.tagMenu__container button ul {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-medium-dark);
  border: 1px solid var(--color-gold);
  z-index: 10;
}

.tagMenu__container h3 {
  color: var(--color-gold);
  display: inline-flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.tagMenu__container ul li:hover a,
.tagMenu__container ul li:focus-within a {
  color: var(--color-gold);
}

@media (max-width: 930px) {
  .tagMenu__container ul {
    width: 50%;
  }
}