:root {
  --max-width: 1440px;
  --min-height: 100vh;

  --color-dark: hsl(233, 100%, 9%);
  --color-white: hsl(0, 0%, 98%);

  --color-purple: hsl(276, 67%, 54%);
  --color-blue: hsl(233, 62%, 54%);
  --color-turquoise: hsl(178, 98%, 54%);
  --color-light-turquoise: hsl(178, 15%, 65%);
  --color-gold: hsl(37, 62%, 54%);

  /* Hide the scrollbars */
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  overflow-x: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
}

body {
  color: var(--color-white);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  padding: 2rem 4rem;
  background-color: var(--color-dark);
}

::-webkit-scrollbar {
  /* Hide the scrollbars */
  display: none;
  /* for Chrome, Safari, and Opera */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark);
  margin: 2rem 0 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-gold);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover,
button:focus-within {
  color: var(--color-gold);
  background-color: var(--color-dark);
  border: 1px solid var(--color-gold);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 11rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--color-white);
  text-decoration: none;
}

a:hover,
a:focus-visible,
a.active {
  border-radius: 2rem;
  background-color: var(--color-purple);
}

p,
li {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.container {
  width: var(--max-width);
  min-height: var(--min-height);
  margin: auto;
  padding: 2rem 0;
  background-color: var(--color-dark);
}

.note {
  font-size: 1rem;
  font-style: italic;
  text-align: end;
}