.home__background {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__background__image1 {
  opacity: 0.4;
}

.home__background__image1,
.home__background__image2 {
  width: 50%;
  max-height: 80vh;
  height: auto;
}

.home__background__image2 {
  margin: 2rem 2.5rem 2rem 1rem;
  border-radius: 1rem;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8)
}

.home__content {
  position: absolute;
  top: 12rem;
  display: flex;
  align-items: flex-start;
}

.home__content h2 {
  width: 57%;
  color: var(--color-turquoise);
}

.home__content__link {
  margin-top: 4rem;
}

.not__found__link {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: var(--color-dark);
  background-color: var(--color-gold);
  border: 1px solid transparent;
}

.not__found__link:hover,
.not__found__link:focus-visible {
  color: var(--color-gold);
  background-color: transparent;
  border: 1px solid var(--color-gold);
}

.home__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}

.home__bottom h1 {
  margin: -14rem 0 -1rem 0;
}

.home__link {
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  color: var(--color-gold);
}

.home__link:hover,
.home__link:focus-within {
  border: 1px solid var(--color-gold);
}

.not__found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

@media(max-width: 1024px) {
  .home__bottom h1 {
    margin: -8rem 0 -1rem 0;
  }
}

@media(max-width: 950px) {
  .home__background__image1 {
    display: none;
  }

  .home__content {
    position: relative;
    top: 0;
    text-align: center;
  }

  .home__bottom h1 {
    margin: 0 4rem;
  }

  .home__content h2 {
    width: 100%;
    margin-bottom: 2rem;
  }

  .home__link {
    font-size: 1.2rem;
    margin: 0;
  }

  .home__link:hover,
  .home__link:focus-within {
    padding: 1rem;
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}