.home__background {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__background__image1 {
  opacity: 50%;
  width: auto;
}

.home__background__image2 {
  width: auto;
  height: 80vh;
}

.home__content {
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home__content h1 {
  width: 100%;
  text-align: center;
  margin: 2rem 0 -1rem 0;
}

.home__content h2 {
  width: 60%;
  color: var(--color-turquoise);
}

.home__content h3 {
  color: var(--color-gold);
  align-self: flex-end;
}

.home__content button {
  font-size: 3rem;
  width: 40%;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.home__content p {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-gold);
}

.not__found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.notFound__link {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--color-dark);
  background-color: var(--color-turquoise);
}

.notFound__link:hover,
.notFound__link:focus-visible {
  color: var(--color-turquoise);
  background-color: var(--color-blue);
}