.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 700;
}

.navbar__logo span {
  padding-left: 1rem;
  line-height: 1.5rem;
  border-left: 3px solid var(--color-turquoise);
}