.footer__container {
  color: var(--color-white);
  padding: 0.5rem 4rem 2rem 4rem;
  border-top: 1px solid var(--color-blue-30);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  cursor: pointer;
}

.footer__icon {
  width: 36px;
  height: auto;
}

@media(max-width: 1024px) {
  .footer__container {
    padding: 0.5rem 2rem 2rem;
  }

  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}