.footer__container {
  color: var(--color-white);
  padding: 1rem 4rem;
  border-top: 1px solid var(--color-blue-30);
}

.footer__content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.footer__icon {
  width: 36px;
  height: auto;
}

.footer__content__bottom {
  text-align: center;
}

@media(max-width: 935px) {
  .footer__container {
    margin-bottom: 72px;
  }

  .footer__content__top {
    display: block;
    text-align: center;
  }

  .footer__content__right {
    margin: 1rem 0;
  }
}