.postcard__container {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-blue-30);
  background-color: var(--color-dark);
}

.postcard__image__container {
  position: relative;
  display: flex;
  width: auto;
  flex: 1 1;
}

.postcard__image__container img {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  max-height: 200px;
}

.postcard__content {
  flex: 2 1;
}

.postcard__content p:nth-of-type(2),
.postcard__content p:nth-of-type(3),
.postcard__content p:nth-of-type(4),
.postcard__content p:nth-of-type(5) {
  color: var(--color-turquoise);
}

.postcard__content span {
  font-weight: 400;
  font-style: italic;
  color: var(--color-white);
}

@media(max-width: 930px) {
  .postcard__container {
    flex-direction: column;
  }

  .postcard__image__container {
    display: block;
  }

  .postcard__image__container img {
    aspect-ratio: 16/9;
    width: auto;
    height: 100%;
  }

  .postcard__content {
    flex: auto;
  }
}