.post__container {
  margin: 0 auto;
  width: 90%;
}

.post__image__container {
  position: relative;
  width: 400px;
  height: 200px;
}

.post__image__container img {
  -o-object-fit: contain;
  object-fit: contain;
}

.post__container p:not(.post__article p):first-of-type,
.post__container p:not(.post__article p):nth-of-type(2),
.post__container p:not(.post__article p):nth-of-type(3),
.post__container p:not(.post__article p):nth-of-type(4) {
  font-weight: 700;
}

.post__container p:not(.post__article p):nth-of-type(2),
.post__container p:not(.post__article p):nth-of-type(3),
.post__container p:not(.post__article p):nth-of-type(4) {
  color: var(--color-turquoise);
}

.post__container p:not(.post__article p):nth-of-type(2) span,
.post__container p:not(.post__article p):nth-of-type(3) span,
.post__container p:not(.post__article p):nth-of-type(4) span {
  color: var(--color-white);
}

.post__container span {
  font-weight: 400;
  font-style: italic;
}

.post__container hr {
  margin: 2rem;
  padding: 1px;
  background-color: var(--color-gold);
  border: none;
}

.post__backbutton__container {
  margin-bottom: 2rem;
}

.post__backbutton__container button {
  margin-top: 0;
}

.post__article h2 {
  margin: 2rem 0;
}

.post__article h3 {
  margin: 2rem 0 1rem 0;
}

.post__article img {
  margin: 2rem auto;
}

.post__article a {
  color: var(--color-gold);
  line-height: 1.2rem;
}

.post__article ul:first-of-type li {
  list-style: numeric;
  color: var(--color-gold);
}

.post__article ul:not(:first-of-type) li {
  list-style: disc;
}

.post__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.post__tags a {
  color: var(--color-gold);
}

@media(max-width: 930px) {
  .post__container {
    width: 100%;
  }

  .post__top {
    flex-direction: column;
    align-items: center;
  }

  .post__image__container {
    max-width: 100%;
  }
}