:root {
  --min-width: 375px;
  --max-width: 1440px;
  --min-height: 100svh;

  color-scheme: dark;

  --color-dark: hsl(233, 100%, 8%);
  --color-medium-dark: hsl(233, 52%, 13%);

  --color-white: hsl(0, 0%, 95%);
  --color-white-7: hsla(0, 0%, 95%, 0.07);

  --color-blue: hsl(217, 43%, 72%);
  --color-blue-30: hsla(217, 43%, 72%, 0.3);

  --color-turquoise: hsl(178, 84%, 53%);
  --color-turquoise-30: hsla(178, 84%, 53%, 0.3);

  --color-gold: hsl(37, 63%, 54%);
  --color-dark-gold-80: hsl(43, 74%, 30%);
  --color-gold-90: hsla(37, 63%, 63%, 0.9);

  --color-error: hsl(337, 63%, 54%);

  --font-family: 'Oxygen', 'Arial', 'sans-serif';

  /* Hide the scrollbars */
  -ms-overflow-style: none;

  /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  color: var(--color-white);
  font-weight: 400;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: var(--min-height);
  margin: 0 auto;
  background-color: var(--color-dark);
  overflow-x: hidden;
  text-wrap: pretty;
}

::-webkit-scrollbar {
  /* Hide the scrollbars */
  display: none;
  /* for Chrome, Safari, and Opera */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: iniherit;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark);
  margin: 2rem 0 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-gold);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  background-color: var(--color-dark-gold-80);
  pointer-events: none;
}

button:hover,
button:focus-within {
  color: var(--color-gold);
  background-color: var(--color-dark);
  border: 1px solid var(--color-gold);
}

h1 {
  font-size: clamp(64px, 9vw, 130px);
  text-align: center;
  width: 100%;
  max-width: var(--max-width);
}

h2 {
  font-size: clamp(24px, 3vw, 45px);
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-turquoise);
}

h2,
h3 {
  scroll-margin-top: 80px;
}

h4 {
  font-size: 1.75rem;
  font-weight: 700;
}

a,
.navbar__link {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
  text-decoration: none;
}

code {
  font-size: inherit;
  border-radius: 1rem;
}

pre,
p,
li,
q {
  font-size: 1.2rem;
  line-height: 2rem;
}

p,
q {
  margin-bottom: 0.5rem;
}

ul {
  margin: 1cap 0;
}

li {
  list-style: none;
}

pre {
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-blue-30);
  overflow-x: scroll;
  box-shadow: -5px 0 5px var(--color-blue-30) inset;
}

q {
  color: var(--color-turquoise);
  font-weight: 700;
}

table {
  width: 100%;
  margin: 1rem 0;
  border-radius: 1rem;
  border: 1px solid var(--color-blue-30);
}

thead th {
  color: var(--color-turquoise);
}

thead th,
tbody tr td {
  padding: 1rem;
  border: 1px solid var(--color-blue-30);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 78vh;
  padding: 100px 4rem 1rem;
  background-color: var(--color-medium-dark);
}

.note {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--color-turquoise);
  margin-left: 1rem;
}

.image__container {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  mix-blend-mode: screen;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
  width: auto;
}

.form {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-blue-30);
}

.form__visible {
  margin-top: -2rem;
  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form__label {
  display: flex;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.form__label__hide {
  visibility: hidden;
}

.form__input__show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__input__show img {
  display: flex;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.form__input__show input {
  margin-bottom: 0;
}


.form__text {
  font-weight: 700;
  text-align: center;
  color: var(--color-gold);
  width: 80%;
  margin-top: 0.5rem;
}

label span,
.error {
  font-weight: 700;
  color: var(--color-error);
  padding-left: 1rem;
}

.form__input {
  margin-bottom: 2rem;
}

.form__input,
.form__textarea {
  display: flex;
  font-size: 1.2rem;
  color: var(--color-white);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-white-7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px;
  border-style: inset;
  border-color: var(--color-medium-dark) var(--color-white-7) var(--color-white-7) var(--color-dark);
  resize: none;
}

.form__input div,
.form__textarea div {
  width: 100%;
}

.form__input:placeholder,
.form__textarea:placeholder {
  font-size: 1.2rem;
  color: var(--color-gold);
  border-radius: 0.5rem;
}

.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding-bottom: 5px;
  margin: 0 2rem 2rem 0;
  color: var(--color-dark);
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  transition: all 2s ease-in-out;
}

[data-theme='light'] {
  color-scheme: light;

  --color-dark: hsl(0, 0%, 97%);
  --color-medium-dark: hsl(0, 0%, 98%);

  --color-white: hsl(233, 100%, 8%);
  --color-white-7: hsl(233, 51%, 13%);

  --color-blue: hsl(217, 43%, 72%);
  --color-blue-30: hsla(195, 84%, 32%, 0.1);

  --color-dark-turquoise: hsl(310, 65%, 25%);
  --color-turquoise: hsl(310, 65%, 33%);
  --color-turquoise-30: hsla(195, 84%, 32%, 0.3);
  --color-turquoise-80: hsla(310, 65%, 33%, 0.8);
  --color-turquoise-90: hsla(310, 65%, 33%, 0.9);
  --color-turquoise-10: hsla(310, 65%, 33%, 0.1);

  --color-gold: hsl(195, 84%, 32%);
  --color-gold-90: hsla(195, 84%, 32%, 0.9);
  --color-dark-gold-80: hsl(200, 73%, 44%);

  --color-error: hsl(337, 63%, 54%);
}

[data-theme='light'] span {
  font-weight: 700;
}

[data-theme='light'] .container {
  background-color: var(--color-medium-dark);
}

[data-theme='light'] .note {
  font-weight: 700;
  color: var(--color-gold);
}

[data-theme='light'] .image {
  -webkit-filter: none;
  filter: none;
  mix-blend-mode: unset;
}

[data-theme='light'] .form {
  background-color: var(--color-blue-30);
}

[data-theme='light'] .form__input,
[data-theme='light'] .form__textarea {
  color: var(--color-white);
  background-color: var(--color-dark);
  border-color:
    var(--color-turquoise-10) var(--color-gold) var(--color-gold) var(--color-turquoise-10);
}

[data-theme='light'] .form__input:placeholder,
[data-theme='light'] .form__textarea:placeholder {
  font-size: 1.2rem;
  color: var(--color-white-7);
  border-radius: 0.5rem;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media(max-width: 1070px) {
  .image_container {
    width: 40%;
    height: 40%;
  }
}

@media(max-width: 935px) {
  .container {
    min-height: 65vh;
    padding: 100px 0 2rem;
  }
}

@media(max-width: 930px) {

  body,
  p,
  li {
    font-weight: 400;
  }

  .container {
    align-items: center;
    padding: 100px 1rem 2rem;
  }

  .form {
    width: 100%;
  }

  .top-link {
    margin: 0 2rem 6rem 0;
  }
}

@media(max-width: 630px) {
  .container {
    min-height: 80vh;
  }
}

@media(max-width: 405px) {
  .form__visible {
    margin-top: -3rem;
  }
}