.home__container {
  position: relative;
}

.home__background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home__background__image1 {
  opacity: 0.4;
}

.home__background__image1,
.home__background__image2dark,
.home__background__image2light {
  max-width: 50%;
  width: auto;
  max-height: 60vh;
  height: auto;
}

.home__background__image2dark,
.home__background__image2light {
  border-radius: 1rem;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8)
}

.home__content {
  position: absolute;
  top: 2rem;
}

.home__content h2 {
  color: var(--color-turquoise);
  width: 57%;
}

.home__bottom {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 91%;
}

.home__content h2,
.home__link__bottom {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
}

.home__link__bottom {
  font-size: 1.7rem;
  color: var(--color-gold);
  width: 37%;
}

.home__content h2 {
  scale: 1;
  transition: scale 0.3s ease-in;
}

.home__content h2:hover,
.home__content h2:focus-within {
  scale: 1.1;
  box-shadow: 0 0 8px var(--color-turquoise);
  border: 1px solid var(--color-turquoise);
}

.home__link__bottom:hover,
.home__link__bottom:focus-within {
  border: 1px solid var(--color-gold);
}

[data-theme='light'] .home__bottom h1 {
  text-shadow: 2px 2px 4px var(--color-blue);
}

@media(max-width: 1305px) {
  .home__background__image1 {
    display: none;
  }

  .home__background__image2dark,
  .home__background__image2light {
    max-width: 30%;
    max-height: 30%;
  }

  .home__bottom {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto -2rem;
  }

  .home__content {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }

  .home__content h2 {
    text-align: center;
    width: 100%;
  }

  .home__content h2,
  .home__link__bottom {
    margin: 0 auto;
    padding: 0.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}



@media(max-width: 800px) {

  .home__background__image2dark,
  .home__background__image2light {
    max-width: 80%;
    max-height: 80%;
  }
}

@media(max-width: 580px) {

  .home__background__image2dark,
  .home__background__image2light {
    max-width: 100%;
    max-height: 100%;
  }

  .home__content h2,
  .home__link__bottom {
    font-size: 1.3rem;
  }
}

@media(max-width: 450px) {

  .home__content h2,
  .home__link__bottom {
    font-size: 1.2rem;
  }
}